body {
  background-color: rgb(215, 236, 243);
}
nav {
  height: 60px;
  background-color: darkblue;
  display: flex;
  gap: 300px;
  align-items: center;
  padding: 16px 20px;
  justify-content: center;
  box-shadow: 1px 1px 20px gray;
}
#navbtn {
  width: 200px;
  font-weight: 600;
  color: white;
  border: none;
  height: 100px;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6dd6ff;
  box-shadow: 1px 1px 20px gray;
  border-radius: 20px;
}
.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}
.dropdown-button {
  width: 300px;
  font-weight: 600;
  color: black;
  border: none;
  height: 100px;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}
.main {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: darkblue;
  gap: 100px;
}
